h2 {
    text-align: left;
    font-size: 1.3rem;
    font-weight: 500;
}

h3 {
    text-align: left;
    font-size: 1rem;
    font-weight: 400;
}

code {
    padding: .875rem 1rem;
    background-color: var(--bg-code);

    font-family: var(--font-code);
    font-size: .75rem;
    font-weight: 300;
    line-height: 1.3rem;
    color: var(--color-code1);
}

p {
    font-size: .875rem;
}

@media screen and (min-width: 768px) {

    h2 {
        font-size: 1.5rem;
        font-weight: 600;
    }

    h3 {
        font-size: 1.3rem;
    }

    .description {
        padding: 4rem 0;
    }

}